:root {
  --cor-fundo: #fff;
  --cor-fundo-menu: #f1f2f6;
  --cor-principal: #58b9da;
  --cor-secundario: #6ad4dd;
  --cor-texto: #010101;
  --cor-cartao: #41b06e;
  --cor-trilha: #f57d1f;
  --fonte: "Poppins", sans-serif;
}

:root.contraste {
  --cor-fundo: #121212;
  --cor-fundo-menu: #333;
  --cor-texto: #f1f2f6;
  --cor-principal: #2c4e80;
  --cor-secundario: #135d66;
  --cor-cartao: #436850;
  --cor-trilha: #ffec9e;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.grid-principal {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* Menu lateral */

.side-bar {
  overflow-y: auto;
  height: 100vh;
  background-color: var(--cor-fundo-menu);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.side-bar h1 {
  padding: 12px;
  font-size: 1.5rem;
  text-align: center;
  color: var(--cor-texto);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.4;
}

.pesquisa {
  margin-top: 20px;
  position: relative;
}

.pesquisa label {
  position: absolute;
  right: 1000px;
}

.pesquisa input[type="search"] {
  display: block;
  margin: 0 auto;
  padding: 4px 8px;
  border-color: var(--cor-texto);
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

.pesquisa input[type="search"]::placeholder {
  text-align: center;
  color: var(--cor-texto);
}

.pesquisa button {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1px;
  right: 20px;
  background: none;
  border: none;
  rotate: 90deg;
}

.side-bar ul {
  margin-top: 30px;
}

.side-bar ul a {
  display: block;
  padding: 16px;
  font-size: 1.125rem;
  color: var(--cor-texto);
  transition: 0.15s;
}

.side-bar ul a:hover {
  background-color: var(--cor-principal);
}

/* Cabeçalho */

.cabecalho-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-secundario);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.cabecalho-principal h3,
.cabecalho-principal a,
.cabecalho-principal p {
  font-size: 1.125rem;
}

.cabecalho-principal h3 {
  text-indent: 60px;
  text-transform: uppercase;
  color: var(--cor-texto);
  display: inline-block;
}

.cabecalho-principal h3 span {
  display: inline-block;
  vertical-align: bottom;
}

.cabecalho-principal .coluna1,
.cabecalho-principal .coluna2 {
  padding: 8px 16px;
}

.cabecalho-principal .coluna2 {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cabecalho-principal a {
  display: block;
  width: fit-content;
  color: var(--cor-texto);
}

.cabecalho-principal nav {
  align-self: flex-end;
}

.acessibilidade ul {
  display: flex;
  gap: 10px;
}

.acessibilidade li {
  cursor: pointer;
}

.acessibilidade [data-acessibilidade="contraste"] svg {
  transition: 0.35s;
}

.acessibilidade [data-acessibilidade="contraste"].ativo svg {
  transform: rotate(180deg);
}

/* Conteudo */

.conteudo-principal {
  max-height: 100vh;
  overflow-y: auto;
}

.conteudo-principal [data-conteudo] {
  position: relative;
  padding: 8px 16px;
}

.conteudo-principal .lai {
  display: block;
  margin: 0 auto;
}

.conteudo-principal .hub p {
  text-indent: 20px;
  font-size: 1.125rem;
}

.conteudo-principal .hub a {
  font-size: 1.25rem;
}

.conteudo-principal .hub ul li {
  font-size: 1.125rem;
  list-style: outside;
  margin-left: 40px;
  margin-bottom: 10px;
}

.trilha {
  position: absolute;
  top: 1px;
  left: 0;
  background: var(--cor-fundo-menu);
  padding: 2px 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  color: var(--cor-texto);
}

.trilha span {
  color: var(--cor-trilha);
}

.cartoes-flex {
  padding: 45px;
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}

.cartoes-flex .cartao {
  display: flex;
  padding: 4px 8px;
  width: 280px;
  min-height: 155px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-family: var(--fonte);
  background-color: var(--cor-cartao);
  color: var(--cor-texto);
  border-radius: 8px;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.cartoes-flex .cartao:hover {
  scale: 1.125;
}
